<article class="card" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="card-title-header">
    <h5 class="post-meta">{{ page.summary }}</h5>
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <div class="post-pre">
      <span class="post-summary">
        Posted by : {% if page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name"><a href="/about">{{ page.author }}</a></span>
        </span>{% endif %} at
        <time datetime="{{ page.date }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      </span>
      <span class="post-categories">
        {% if post %} {% assign categories = post.categories %} {% else %} {%
        assign categories = page.categories %} {% endif %} {% for
        category in categories %}
        <!-- <a href="{{site.baseurl}}/blog/categories/{{category|slugize}}"
          >{{category}}</a
        > -->
        <button class="btn btn-sm btn-dark" onclick="location.href='{{site.baseurl}}/blog/categories/{{category|slugize}}'">{{category}}</button>
        {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
      </span>
    </div>
  </div>

  <div class="card-body" itemprop="articleBody">
    {{ content }}
    <br />
      {%- include share_page.html -%}
  </div>

  <!-- Author box -->
    {% assign author = site.data.authors[page.author] %}
    {% if author %}
    {% include author.html %}
  {% endif %}

  {%- if site.hyvor_talk_website_id -%}
  <div class="comments">
    {%- include hyvor_comments.html -%}
   </div>
    {%- endif -%}
  <!-- Incomment incase you want to use Disqus
      <div id="disqus_thread"></div>
   -->


</article>
