---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */

/* 변수 처리 */
:root {
  --default-toc-color: #777777;
  --default-toc-theme-color: var(--link-color);
  --default-toc-border-color: #777777;
  --default-border-color: rgb(230, 230, 230);
}

.jumbotron-heading {
  font-size: 35px !important;
}

.about-button {
  margin-right:10px;
}

blockquote > p {
  font-size: 16px !important;
  padding-bottom: 0 !important;
}

p {
  margin-bottom: 0 !important;
  padding-bottom: 1.5rem !important;
  font-size: 18px !important;
}

h2 {
  margin-top: -2.5rem !important;
  padding-top: 5rem;
  margin-bottom: 1.5rem !important;
  padding-bottom: 1rem;
  border-bottom:1px solid rgb(230, 230, 230);

  font-weight: bold !important;
  font-size: 2rem !important;
}

h3, h4 {
  margin-top: -2.5rem !important;
  padding-top: 5rem !important;
  margin-bottom: 0 !important;
  padding-bottom: 0.75rem;
  font-weight: bold !important;
  font-size: 1.5rem !important;
}

strong {
  color: var(--medium-text-color) !important;
}

hr {
  background-color: var(--light-border-color) !important
}

blockquote {
  background-color: var(--box-background-color);
  color: #5d686f;
  border-left: 5px solid #dbdbdb;
  padding: 1em 1.2em;
  margin-bottom: 1.5rem !important;
}

figure {
  margin-bottom: 0px !important;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

figcaption {
  padding-top: 5px;
}

code {
  background: #292e33;
  border-radius: 3px;
  font-size: 85%;
  color: #ebb866 !important;
  padding: 0.2em 0.4em;
}

article dl, article ol, article ul {
  margin-bottom: 0 !important;
  padding-bottom: 1.5rem;
}

article li > dl, article li > ol, article li > ul {
  padding-bottom: 0;
}

.navbar-dark .navbar-nav a.nav-link:hover {
  color: #ff7601 !important;
}

.navbar-dark .navbar-brand {
  font-weight: bold;
}

.navbar-collapse > ul {
  margin-left: 0px !important;
  font-size:1rem;
}

.col-lg-left-border {
  border-left: 1px solid var(--default-border-color);
}

.col-lg-right-border {
  border-right: 1px solid var(--default-border-color);
}

.navbar-top {
  width:100%;
  display:flex;
  align-items: center;
}

.navbar-expand-lg {
  justify-content: center !important;
}

.post-title {
  font-size: 30px;
  font-weight: bold;
}

.post-pre {
  display: flex;
  justify-content:space-between;
  font-size: 16px;
  color: #777777;
}

.post-meta {
  color: #777777 !important;
}

.row {
  margin-left:0px !important;
  margin-right:0px !important;
}

.card {
  border: none !important;
  background: var(--main-background-color) !important;
  //border-color: white;
}

.card-border {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0.25rem;
  background-color: var(--card-background-color) !important;
}

.card-title-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid var(--light-border-color);
}


/* Main Page */
#recent-articles {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}

.btn-lg {
  font-size: 1rem !important;
}

#article-container > #article-img > img {
  object-fit: cover;
}


/* About me Page */
.company-logo {
  width: 5rem !important;
  height: 5rem !important;
  border-radius: 10%;
  box-shadow:-2px 0px 5px -6px #000000,
             2px 0px 5px -6px #000000;
}

.about-info-row {
  padding: 1rem 0 1.5rem 0;
}


.about-info-list {
  font-size: 1rem !important;
}

#author_certifications {
  .certificate-row {
    min-height: 40px;
  }

  .certificate-img {
    position: absolute;
    top: 50%;
    margin-top:-20px;
    width: 40px;
    height: 40px;
    border-radius: 10%;
  }

  .certificate-name {
    font-size: 14px;
  }
}


/* Blog Page */
figure {
  text-align: center;
}

figure > img {
  max-width: 100%;
}

.blog-post {
  width: 100% !important;
  margin: 10px !important;
}

.post-thumbnail {
  position: absolute;
  top:45px;
  left:0;
  height:250px;
  width:100%;

  text-align: center;
  background-repeat : no-repeat;
  background-size : cover;
}

.post-thumbnail > .card-img-top {
  height: 100%;
  width: auto;
}

#blog-post-container {
  margin-top: 250px;
  margin-left:0px;
}


/* Post Page */
.side-container {
  position:sticky;
  top:80px;
  width:100%;
  margin-top:15px;
}

.side-profile {
  width:100%;
  margin-bottom:10px;

  text-align: center;
}

.side-profile .profile-img {
  width: 70px;
  height:70px;
  margin-top:10px;

  border-radius: 50%;
}

.side-profile a {
  color: black !important;
  text-decoration: none !important;
}

.side-container > div:before {
  content: "";
  display: block;
  width: 96%;
  height: 1px;
  margin: 0 2% 1rem 2%;
  background-color: var(--default-border-color);
}

.side-visitors {
  // margin: 0 15px;
}
//
.side-visitors .visitor-section {
  width:100%;
  padding: 0 10px;

  display:flex;
}

.visitor-section div {
  width: 50%;
}

.visitor-section div.profile-links {
  text-align: center;
  border-left: 1px solid var(--default-border-color);
  margin-top:1px;
}

.visitor-section div.profile-links a {
  text-decoration-line:none;
  color:black !important;
}

.visitor-section div.profile-links .github {
}

.visitor-section div.profile-links .linkedin {
  color: black !important;
}

.visitor-section div.profile-links .instagram {
  color: black !important;
}

//
// .visitor-section li {
//   list-style: none;
//   float: right;
//   padding-left:15px;
//   padding-bottom: 10px;
//   text-align: right;
// }
//
// .visitor-section li.visitor-emphasis {
//   position: absolute;
//   top:9px;
//   left:0;
//   text-align: left;
// }
//
// .visitor-section li * {
//   display:block;
// }
//
// .visitor-lable {
//   font-size: 11px;
//   line-height: 15px;
// }
//
// li.visitor-emphasis .visitor-lable {
//   font-size: 12px;
// }
//
// .visitor-count {
//   font-size: 20px;
// }
//
// li.visitor-emphasis .visitor-count {
//   font-size: 22px;
//   font-weight: 600;
//   line-height: 28px;
// }

/* TOC 관련 css */
.toc {
  position: relative;
  // top: 168px;
  width: 100%;
  color: var(--default-toc-color) !important;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0.75rem 0;
  font-size: 1rem;

  display: none;
  @media (min-width: 992px){
    display: block;
  }

  .toc-container {
    margin: 0 0.75rem;
  }

  a.toc-active {
    font-weight: bold;
    transition: all 0.125s ease-in 0s;
    font-size: 1.2rem;
    color: var(--default-toc-theme-color) !important;
  }

  ul {
    list-style-type: none !important;
    margin-bottom: 0.1rem;
    padding-left: 0rem;
    margin-left: 1.5rem !important;
    li {
      padding-left: .5rem;
    }
  }

  a {
    color: var(--default-toc-color) !important;
    text-decoration: none !important;
  }

  a:hover {
    color:var(--default-toc-theme-color) !important;
  }
}


@media (min-width: 1200px) {
  .navbar-top {
    max-width: 1140px;
  }
}

@media (max-width: 75em){
  .navbar-top {
    justify-content: space-between;
  }

  .navbar-brand {
    margin-right: 0px !important;
  }

  .container {
    margin: 0px !important;
    padding: 0px !important;
    max-width: 100% !important;
  }

  .post-thumbnail {
    max-height: 200px;
    position:flex;
    align-content: center;
    justify-content: center;
  }

  .post-thumbnail > .card-img-top {
    max-width:100%;
    height:100%;
    width: auto;
  }

  #blog-post-container {
    margin-top: 200px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .card {
    margin: 0px !important;
    margin-top: 10px !important;
    padding: 0px !important;
  }

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto,
  .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto,
  .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto,
  .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
  .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0 !important;
  }

  .post-meta {
    font-size: 1rem;
  }

  .post-title {
    font-size: 1.65rem;
  }

  .post-categories {
    display: none;
  }
}

// 공통 ===============

.flex-align-center {
  display: flex;
  align-items: center;
}

.padding-top-1 {
  margin-top: -2.5rem !important;
  padding-top: 3.5rem !important;
}

.col-lg-10-05 {
  flex: 0 0 5% !important;
  max-width: 5% !important;
}

.col-lg-10-90 {
  flex: 0 0 90% !important;
  max-width: 90% !important;
}

// 공통 end ===========
