---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */

@media (min-width: 1280px) {
  .container {
    max-width: 1280px !important;
  }
}

.jumbotron-heading {
  font-size: 35px !important;
}

blockquote > p {
  font-size: 16px !important;
  padding-bottom: 0 !important;
}

p {
  margin-bottom: 0 !important;
  padding-bottom: 1.5rem !important;
  font-size: 18px !important;
}

h2 {
  margin-bottom: 0 !important;
  padding: 45px 0 0 0 !important;
  font-weight: bold !important;
  font-size: 28px !important;
}

h3, h4 {
  font-weight: bold !important;
}

strong {
  color: var(--medium-text-color) !important;
}

hr {
  background-color: var(--light-border-color) !important
}

blockquote {
  background-color: var(--box-background-color);
  color: #5d686f;
  border-left: 5px solid #dbdbdb;
  padding: 1em 1.2em;
}

code {
  background: #292e33;
  border-radius: 3px;
  font-size: 85%;
  color: #ebb866 !important;
  padding: 0.2em 0.4em;
}


.navbar {
  font-family: 'Quicksand', sans-serif !important;
}

.post-title {
  font-size: 30px !important;
  font-weight: bold;
}

.post-summary {
  font-size: 16px !important;
}

.post-meta {
  color: #777777 !important;
}

.card {
  border: none !important;
  background: var(--main-background-color) !important;
  //border-color: white;
}

.card-border {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0.25rem;
  background-color: var(--card-background-color) !important;
}

.card-title-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid var(--light-border-color);
}


/* Main Page */
#recent-articles {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}

.btn-lg {
  font-size: 1rem !important;
}

#article-container > #article-img > img {
  object-fit: cover;
}


/* About me Page */
.company-logo {
  border-radius: 10%;
  box-shadow:-2px 0px 5px -6px #000000,
             2px 0px 5px -6px #000000;
}

#author_certifications {
  .certificate-row {
    min-height: 40px;
  }

  .certificate-img {
    position: absolute;
    top: 50%;
    margin-top:-20px;
    width: 40px;
    height: 40px;
    border-radius: 10%;
  }

  .certificate-name {
    font-size: 14px;
  }
}


/* Blog Page */
figure {
  text-align: center;
}

.blog-post {
  width: 100% !important;
  margin: 10px !important;
}