---
layout: default
---
<div class="col-lg-12">
 <div class="row justify-content-center" style="margin-top:50px;">
      <div class="col-lg-10">
          <ul>
              <div class="row">
                  {% for post in paginator.posts %}
                  <li class="article-card">
                    <a href="{{post.url}}" class="article-card-link">
                      <div id="article-container">
                        <div id="article-img" class="article-img">
                          {% if post.author %}
                            {% assign author = post.author %}
                            {% if author %}
                              {% assign author_data = site.data.authors[author] %}
                              <img
                              src="{{post.thumbnail}}"
                              width="280px"
                              height="150px"
                              style="border-radius: 6px;"
                            />
                            {% endif %}
                          {% endif %}
          
                        </div>
                        <div id="article-link">
                            <span class="recent-article-link"><b>{{post.title}}</b></span>
                            <br>
                            <span style="color: #ccc; font-size: 15px;">
                              <time datetime="{{ post.date }}" itemprop="datePublished">{{ post.date | date: "%Y년%m월%d일" }}</time>
                            </span>
                            <br>
                            {% assign excerptParts = post.content | split: "<!-- excerpt-start -->" %}
                            <span class="article-desc" style="color: #777; font-size: 16px;">{{ excerptParts[1] | strip_html | truncatewords: 35}}</span>
                        </div>
                        <div id="article-alert" class="article-tags">
                        {% for cat in post.category limit:1 %}
                          <button class="btn btn-sm btn-dark">{{cat}}</button>
                        {% endfor %}
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
              </div>
          </ul>
          <div class="row center">
              <!-- Pagination links -->
              {% if paginator.total_pages > 1 %}
              <ul class="pagination pagination-sm">
                  {% if paginator.previous_page %}
                  <li class="pagination-link"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
                  {% else %}
                  <li class="pagination-link disabled"><span aria-hidden="true">&laquo;</span></li>
                  {% endif %}

                  <li class="pagination-link" ><a href="/blog">First</a></li>

                  {% for page in (1..paginator.total_pages) %}
                  {% if page == paginator.page %}
                  <li class="active pagination-link"><a>{{ page }}<span class="sr-only">(current)</span></a></li>
                  {% elsif page == 1 %}
                  <li class="pagination-link"><a href="/blog">{{ page }}</a></li>
                  {% else %}
                  <li class="pagination-link"><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                  {% endif %}
                  {% endfor %}

                  <li class="pagination-link"><a href="/blog/page/{{ paginator.total_pages }}/#/">Last</a></li>

                  {% if paginator.next_page %}
                  <li class="pagination-link"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
                  {% else %}
                  <li class="disabled pagination-link"><span>&raquo;</span></li>
                  {% endif %}
              </ul>
              {% endif %}
          </div>
    </div>
    {%- include blog_sidebar.html -%}

 </div>
</div>