---
layout: full-width
---

<script>
  $(document).ready(function() {
    $("#typewriteText").typewrite({
      actions: [{ type: "{{site.typewrite-text}}" }]
    });
  });
</script>
    <div class="jumbotron" style="text-align: center;">
      <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/profile.png" />
      <p class="jumbotron-heading">잡다한 기술공방</p>
      <p class="lead" id="typewriteText"></p>
         {%- include github_star_button.html -%}
         {%- include github_fork_button.html -%}
    </div>
    <div class="col-lg-8 offset-md-2">
      <section id="recent-articles">
        <div id="recent-articles-header">
          <div id="recent-articles-title">
            <h2 class="card-title">최근 게시물</h2>
            <hr>
          </div>
          <div id="recent-articles-show-all">
            <a class="btn btn-lg btn-dark" href="/blog"> 전체 보기 </a>
          </div>
        </div>
        <br />

        <ul>
          {% for post in site.posts limit:5 %}
          <li class="article-card">
            <a href="{{post.url}}" class="article-card-link">
              <div id="article-container">
                <div id="article-img">
                  {% if post.author %}
                    {% assign author = post.author %}
                    {% if author %}
                     {% assign author_data = site.data.authors[author] %}
                     <img
                      src="{{site.url}}{{site.baseurl}}{{post.thumbnail}}"
                      width="150px"
                      height="75px"
                   />
                    {% endif %}
                  {% endif %}

                </div>
                <div id="article-link">
                    <span class="recent-article-link"><b>{{post.title}}</b> <span style="color: #ccc; font-size: 15px;"> - <i><time datetime="{{ post.date }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></i></span></span>
                    <br>
                    <span style="color: #777; font-size: 16px;">{{ post.summary }}</span>
                    </div>
                  <div id="article-alert">
                  {% for cat in post.category limit:1 %}
                   <button class="btn btn-sm btn-dark">{{cat}}</button>
                  {% endfor %}
                  </div>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </section>
    </div>