---
layout: default
---

<div class="post-thumbnail">
  <img class="card-img-top"
       src="{{site.url}}{{site.baseurl}}{{ page.thumbnail }}"
       alt="{{ post.title }}"
  />
</div>

<div class="row justify-content-center" id="blog-post-container">
  <div class="col-lg-9 col-lg-left-border">
    {%- include blog_post_article.html -%}
     {%- include blog_post_comments.html-%}
  </div>
  <div class="col-lg-3 col-lg-left-border">
      <div class="toc">
        <a href="#" class="toc-active">맨 위로</a>
        {% include toc.html html=content %}
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card card-border">
      <div class="card-header">About {{site.author}}</div>
      <div class="card-body">
        <p class="author_bio">{{ site.author_bio }}</p>
        {%- include github_star_button.html -%}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-border">
      <div class="card-header">Categories</div>
      <div class="card-body text-dark">
        {%- include blog_categories.html -%}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-border">
      <div class="card-header">Useful Links</div>
      <div class="card-body text-dark">
        {% for i in site.urls %}
        <li>
          <a href="{{ site.url}}{{site.baseurl}}{{ i.url }}">{{ i.text }}</a>
        </li>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<script>
  let article = undefined;
  let articleY = undefined;
  let toc = undefined;

  let titleNode = undefined;
  let headerNodes = undefined;
  let tocNodes = undefined;

  let before = undefined;
  let current = undefined;

  function initToc() {
    article = document.getElementsByClassName("container")[0];
    articleY = window.pageYOffset + article.getBoundingClientRect().top;
    toc = document.getElementsByClassName("toc")[0];

    headerNodes = getHeaderNodes(article);
    tocNodes = getTOCNodes(toc);

    before = tocNodes[0];
  }

  function getHeaderNodes(master) {
    const nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
    const headerNodes = nodes.filter(function(elem) {
      return elem.tagName == "H1" || elem.tagName == "H2" || elem.tagName == "H3" || elem.tagName == "H4" || elem.tagName == "H5" || elem.tagName == "H6";
    });
    return headerNodes;
  }

  function getTOCNodes(master) {
    var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
    var tocNodes = nodes.filter(function(elem) {
      return elem.tagName == "A";
    });
    return tocNodes;
  }

  function initEventListener() {
    document.addEventListener('scroll', doToc, false);
  }

  function doToc() {
    setTocPosition();

    const currentHeader = findCurrentHeaderNode();
    if(currentHeader == undefined) {
      if(before) {
        before.classList.remove("toc-active");
      }
    }

    const currentToc = findCurrentTocNode(currentHeader);
    if (currentToc) {
      if (before == undefined) before = currentToc;
      if (before != currentToc) {
        before.classList.remove("toc-active");
        before = currentToc;
      }
      currentToc.classList.add("toc-active");
    }
    else {
      if (before) {
        before.classList.remove("toc-active");
      }
    }
  }

  function setTocPosition() {
      if (window.scrollY >= articleY - 20) {
        toc.style.cssText = "position: fixed; top:170px;";
      } else {
        toc.style.cssText = "";
      }
  }

  function findCurrentHeaderNode() {
    const passedNodes = headerNodes.filter(function(header) {
      let headerY = window.pageYOffset + header.getBoundingClientRect().top;
      return window.scrollY >= headerY - 100;
    });
    if (passedNodes.length > 0) {
      return passedNodes[passedNodes.length-1];
    } else {
      return undefined;
    }
  }

  function findCurrentTocNode(currentHeader) {
    if(currentHeader == undefined) {
      return tocNodes[0];
    }

    const currentToc = tocNodes.filter(function(tocNode) {
      return tocNode.innerHTML == currentHeader.innerHTML;
    })[0];
    return currentToc ? currentToc : tocNodes[0];
  }

  document.addEventListener('DOMContentLoaded', () => {
    initToc();
    doToc();
    initEventListener();
  });
</script>
