---
layout: default
---

<div class="post-thumbnail" style="background-image: url('{{ page.title-img }}')">
  <!-- <img class="card-img-top"
       src="{{ page.title-img }}"
       alt="{{ post.title }}"
  /> -->
</div>

<div class="row justify-content-center" id="blog-post-container">
  <div class="col-lg-3 col-lg-left-border col-lg-right-border">
    <div id="side-container" class="side-container">
      <div class="side-profile">
        <a href="/about" target="_blank">
        <img src="/assets/img/{{ site.author_logo }}" class="profile-img" />
        <div><b>Dohun Lee</b></div>
        </a>
      </div>
      <div class="side-visitors">
        <div class="visitor-section">
          <div>
            <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fcreboring.net&count_bg=%23F79327&title_bg=%236E6C6C&icon_color=%23E7E7E7&title=%EC%A1%B0%ED%9A%8C%EC%88%98&edge_flat=false"/></a>
          </div>
          <div class="profile-links">
            <span >
              <a class="social-link github" href="https://github.com/creBoring" target="_blank">
                <i class="fab fa-github fa-fw"></i>
              </a>
              <a class="social-link linkedin" href="https://www.linkedin.com/in/l22d0hun" target="_blank">
                <i class="fab fa-linkedin fa-fw"></i>
              </a>
              <a class="social-link instagram" href="https://instagram.com/l22_d0hun" target="_blank">
                <i class="fab fa-instagram fa-fw"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="toc">
        <div class="toc-container">
          <a href="#" class="toc-active">맨 위로</a>
          {% include toc.html html=content %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-lg-right-border row justify-content-center">
    <div class="col-lg-1 col-lg-10-05"></div>
    <div class="col-lg-10 col-lg-10-90">
      {%- include blog_post_article.html -%}
      {%- include blog_post_comments.html-%}
    </div>
    <div class="col-lg-1 col-lg-10-05"></div>
  </div>
</div>


<script>
  let article = undefined;
  let articleY = undefined;
  let toc = undefined;

  let titleNode = undefined;
  let headerNodes = undefined;
  let tocNodes = undefined;

  let before = undefined;
  let current = undefined;

  function initToc() {
    article = document.getElementsByClassName("container")[0];
    articleY = window.pageYOffset + article.getBoundingClientRect().top;
    toc = document.getElementsByClassName("toc")[0];

    headerNodes = getHeaderNodes(article);
    tocNodes = getTOCNodes(toc);

    before = tocNodes[0];
  }

  function getHeaderNodes(master) {
    const nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
    const headerNodes = nodes.filter(function(elem) {
      return elem.tagName == "H1" || elem.tagName == "H2" || elem.tagName == "H3" || elem.tagName == "H4" || elem.tagName == "H5" || elem.tagName == "H6";
    });
    return headerNodes;
  }

  function getTOCNodes(master) {
    var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
    var tocNodes = nodes.filter(function(elem) {
      return elem.tagName == "A";
    });
    return tocNodes;
  }

  function initEventListener() {
    document.addEventListener('scroll', doToc, false);
  }

  function doToc() {
    const currentHeader = findCurrentHeaderNode();
    if(currentHeader == undefined) {
      if(before) {
        before.classList.remove("toc-active");
      }
    }

    const currentToc = findCurrentTocNode(currentHeader);
    if (currentToc) {
      if (before == undefined) before = currentToc;
      if (before != currentToc) {
        before.classList.remove("toc-active");
        before = currentToc;
      }
      currentToc.classList.add("toc-active");
    }
    else {
      if (before) {
        before.classList.remove("toc-active");
      }
    }
  }

  function findCurrentHeaderNode() {
    const passedNodes = headerNodes.filter(function(header) {
      let headerY = window.pageYOffset + header.getBoundingClientRect().top;
      return window.scrollY >= headerY - 100;
    });
    if (passedNodes.length > 0) {
      return passedNodes[passedNodes.length-1];
    } else {
      return undefined;
    }
  }

  function findCurrentTocNode(currentHeader) {
    if(currentHeader == undefined) {
      return tocNodes[0];
    }

    const currentToc = tocNodes.filter(function(tocNode) {
      return tocNode.innerHTML == currentHeader.innerHTML;
    })[0];
    return currentToc ? currentToc : tocNodes[0];
  }

  document.addEventListener('DOMContentLoaded', () => {
    initToc();
    doToc();
    initEventListener();
  });
</script>
